body {
  background-color: rgb(20, 0, 20);
  color: rgb(235, 235, 235);
  font-family: Helvetica;
}

h1 {
  color: rgb(235, 235, 235);
  font-family: monospace;
	font-size: 300%;
	color: rgb(235, 190, 235);
}

p {
  color: rgb(235, 235, 235);
}

img {
  display: block;
  margin: auto;
  margin-top: 25px;
}

a:link {
  color: rgb(255, 50, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 175, 255);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

code {
	font-family: monospace;
	font-size: 135%;
	font-weight: 900;
}

.listing {
	font-family: monospace;
	font-weight: 600;
	font-size: 130%;	
	padding: 5px;
	text-align: start;
	border: solid 2px #e0e0e0;
	background-color: #000000;
	margin-left: 8em;
	margin-right: 8em;
}

.tty_border {
	margin: 1em;
	background-color: #000000;
	border: solid 2px #f0f0f0;
	border-radius: 10px;
}

.tty {
	margin: 1em;
	font-family: monospace;
	font-size: 130%;
}

.blog_border {
	border-style: dotted;
	margin-left: 4em;
	margin-right: 4em;
	background-color: #200020;
}

.tab {
	margin-left: 2em;
}

.indent {
	text-indent: 40px;
}

.post {
	display: block;
	margin-left:  1em;
	margin-right: 1em;
	line-height: 1.3;
}

.center {
	text-align: center;
}

